/*Configurações Padrões*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 16px;
}body{
    background: #f3f3f3;
}

/*Navegação*/
header{
    height: 45px;
    padding: 10px;
    background: white;
    border-bottom: 1px solid #d8d8d8;
}header nav{
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}nav .logo{
    font-size: 2.2rem;
}nav .logo span{
    font-size: 2.2rem;
    color: rgb(10, 86, 193);
}nav .menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}.menu li a{
    color: black;
    padding: 5px 10px;
    transition: all 0.3s ease;
}.menu li a:hover{
    color: white;
    background: rgb(10, 86, 193);
}

/*Conteúdo*/
main{
    width: 720px;
    margin: 10px auto 10px auto;
}main #Post{    
    padding: 15px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}#Post .titulo-post h2{
    font-size: 2rem;
    color: rgb(10, 86, 193);
}main #Post .data-post{
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}#Post .conteudo-post{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}.conteudo-post img{
    border-radius: 5px;
}.conteudo-post p{
    text-align: justify;
}
/*Rodapé*/