*{
    margin: 0;
    padding: 0;
}body{
    background-color: bisque;
}
.contentor{
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 35px;
    gap: 10px;    
}.Juntar{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 60vh;
    gap: 10px;
}.grid{
    border-radius: 10px;
}#grid-1{
    background-color: burlywood;width: 100%;height: 100px;
}#grid-2{
    background-color: brown;
}#grid-3{
    background-color: orange;
}#grid-4{
    background-color: green;width: 100%;height: 100px;
}